@import "../node_modules/bootswatch/dist/darkly/bootstrap.min.css" ;
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;1,500&family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #8bdaf2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*NavBar*/
.custom-navbar {
  height: 40px; 
}
.navcolor {
  background-color: #9acad9;
  color: #212529;
  font-family: Roboto, sans-serif;
}
.container-fluid {
  background-color: #9acad9;
}
.navbar-collapse {
  color: #212529;
  font-family: Roboto, sans-serif;
  display: flex;
}

/* Navigation Links Styles */
.navcolor a {
  text-decoration: none;
  color: #304559;
  font-size: 14px;
  font-weight: 400;
}

/* Change link color on hover */
.navcolor a:hover {
  background-color: rgba(186, 213, 240, 0.604);
}

/* Optional: Style for the active link */
.navcolor a.active {
  background-color: rgba(33, 37, 41, 0.2);
}

/* Optional: Add some spacing and border to the navbar */
.navcolor {
  margin-bottom: 20px;
  border-bottom: 1px solid #212529;
}

 
 .pres{
  margin: 60px 0;
  width: 50%;
  font-family: 'Josefin Sans', sans-serif;
 }

 .input-domain{
  color:rgba(255, 255, 255, 0.888);
 }
  
 .albumfont {
  font-family: 'Josefin Sans', sans-serif;
 }

 .datafont {
  font-family: 'Josefin Sans', sans-serif;
  color: #282c34;
 }
 
 .label-domain{
  color: #21292a;
  font-family: "Nunito", sans-serif;
}
.input-domain{
  background-color: #02263a;
  border-color: var(--BORDER-COLOR);
  opacity: 0.5;
  width: 50%;
}
.form-position{
  margin-top: 60px;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
}
.table-font{
  font-family: "Nunito", sans-serif;
}

.container{
  font-family: "Nunito", sans-serif;
 }
 .card{
  background-color:#9acad9;
  border: none;
 }
 .card-text{
  color:#2c3e50 ;
 }
 .card-title{
  font-size: 21px ;
  font-style: oblique;
  color: white;
 }
 .link{
  text-decoration: none;
  color: #dfe4eac0;
 }
 .btn-primary{
 background-color:#29556cc9;
 border:#0f2937b0;
 }

 .img-fixed-height {
  height: 300px;
}


/* Styles pour le tableau */
.table {
font-family: 'Josefin Sans', sans-serif;
width: 100%;
border-collapse: collapse;
border: 1px solid #ccc;
}

.table th, .table td {
padding: 8px;
border: 1px solid #ccc;
}

/* Styles pour les cellules d'en-tête */
.table th {
background-color: #002438;
font-weight: bold;
text-align: left;
}
/* Styles pour les lignes impaires (facultatif) */
.table tr:nth-child(odd) {
background-color: #09293A;
}

/* Styles pour les listes imbriquées (Ports Ouverts) */
.table ul {
list-style-type: disc;
margin: 0;
padding-left: 20px;
}
.table li {
  display: block;
}

.titleh4{
  color: #002438;
  margin: 40px;
}
.mailcomp{
  color: #002438;
  margin: 40px;
}