@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;1,500&family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  --bs-navbar-padding-y: 0;
  border-bottom: 1px  solid rgb(185, 185, 189);
}
body {
  font-family: 'Josefin Sans', sans-serif;
}


h4, .mailcomp {
  color: #002438;
  margin: 40px;
}

/* Couleurs */






.logo{
  width:140px;
  height:80px;
  padding: 0;
  margin: 0;
}

/* Autres styles */
.link {
  text-decoration: none;
  color: #dfe4eac0;
}


.btn-primary {
  background-color: #3f4549c9;
  border: #323537b0;
}


.img-fixed-height {
  height: 300px;
}
.img-card{
  height: 300px;
  width: 300px;
}
.title-card{
  text-align: center;
  font-weight: bold;
  color: black;
  }
  .card-title{
    padding-top: 10px;
  }
.card{
  background-color: white;
  
  color: black;
  
}

.img-size{
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0;
  margin: 10px;;
 }

.intro{
 
  width: 100%;
  height: 400px;
 /* background-color: #002438;*/
  background-color:#354dcb; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.introtext {
  justify-content: center;
  flex: 1;
  padding: 100px;
}
.introtext h1,.introtext h4 {
 margin: 0;
}
.introtext h4 {
  color: black;
}
.introtext h1 {
 font-weight: bold;
 color: #bbbbf9;
}

.imgth {
  max-width: 100%;
  height: auto;
  padding: 80px;
}

.form-position{
  background-color:#354dcb;
  margin-left: 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.form-group{
  padding-top: 100px;
  padding-bottom: 20px;
  width: 400px;
  align-items: center;
}
.form-group, .btn-form{
  margin-left: 0px;
}
.btn-form{
  color: #354dcb;
  border-radius: 10%;
  font-weight: 600;
}
.form-label{
  color: white;
}
.form-text{
  color:rgb(162, 160, 160);
}
.sizeicon{
  width: 15px;
}
/* EmailResult */
.emailResult {
  text-align: center;
  padding: 20px; 
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
}

/* Style du titre h4 */
.titleh4 {
  font-size: 20px;
  color: #333;
  font-weight: 600;
}


.mailcomp {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #002438; 
}
/* Styles for red text */
.red-text {
  color: rgb(100, 6, 6);
  font-weight: bold;
  font-size: larger;
}

/* Styles for green text */
.green-text {
  color: rgb(54, 106, 54);
  font-weight: bold;
  font-size: larger;
}

 .listundoted{
  list-style-type:none;
 }
 .undoted-item{
  padding: 10px;
 }

.shodanResult{
  text-align: center;
  padding: 20px; 
  background-color: #eae9e9;
 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}


/* Style pour le conteneur de chaque élément de résultat Shodan */
.shodanResult .result {
  text-align: left;
}

/* Style pour chaque élément de résultat Shodan */
.shodanResult .result-item {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Style pour la table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style pour les en-têtes de colonne */
.table th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Style pour les cellules de données */
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Style pour les listes à puces dans les cellules */
.table ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style pour les éléments de liste à puce dans les cellules */
.table li {
  margin-bottom: 5px;
}
.domainheader{
  border-bottom: 1px solid black;
  color: #002438;
  font-weight: bold;
}
td{
  margin-right: 20 px;
}

.table1  tr:not(:last-child) {
  border-bottom: 1px solid #4e5156;
}
.table2 tr:not(:last-child) {
  border-bottom: 1px solid #4e5156;
}
.part1 , .part2{
  padding-top: 40px;
  display: flex;
}

.table1, .table2 {
  flex: 1;
  margin-right: 40px; 
}

.domainheader {
  margin-bottom: 10px; 
}

.table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0;
}



.col {
  padding: 8px;
}


.contact-us-container  {
  background-color: #fff;
  padding: 20px;
  margin: 200px auto ;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 850px;
  height: 700px;
  display: flex;
  flex-direction: row;
}
.information-part{
display: flex;
flex-direction: column;
}
.fa-icon{
  padding-right: 25px;
}
.fa-icon :hover{
color: #4e5156;
}
.cordonnee{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}
.h5-bold{
  font-weight: bold;
}
.img-contact , .img-about{
  height: 370px;
  width: auto;;
}
.contact-us-title {
  color: #333;
  font-weight: bold;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
 
}

.contact-us-label {
  margin-bottom: 10px;
  margin: 20px 0;
  color: #555;
}
.label-text{
  padding-left: 17px;
  font-weight: 600;
}
.contact-us-input{
  margin-left: 20px ;
  width: 100%;
  box-sizing: border-box;
 
}
.input-message{
  height: 120px;
}
.contact-us-input,
.contact-us-textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contact-us-button{
  background-color: #354dcb;
  color: #fff;
  padding: 10px ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-left: 40px;
 
}

.contact-us-button:hover {
  background-color: grey ;
}

.about-us-container{
  background-color: #fff;
  padding: 20px;
  margin: 200px 150px; 
  width: 850px;
  height: 700px;
  display: flex;
  flex-direction: row;
}
.about-us-title{
  color: #354dcb;
  font-weight: bolder;
  padding: 0 100px;
}
.about-us-content{
  display: flex;
  flex-direction: column;
}
.about-us-paragraph{
 padding: 100px;
  color: #555;
  line-height: 2;
  justify-content: left;
}
.about-us-text{
  width: 800px;
}
.about-us{
  font-size: smaller;
  font-weight: bold;
}
.cybereye{
  font-weight: bold;
}
.diff{
  font-size: larger;
  color: #212274;
}
.form-group-2{
  padding-top: 30px;
}
.sensitive-data-result{
  text-align: center;
  padding: 20px; 
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
}


.container-sensitive{ 
  width: auto;
  height: 600px;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
@media screen and (max-width: 700px) {
  .container-sensitive {
    flex-direction: column;
  }}

.icon-size{
  color: #ffffff;
  padding-left: 20px;
}
.sensitive-div{
  width: 600px;
  height: 200px;
  border: 1px solid rgb(229, 229, 229);
  box-shadow: 0 12px 10px 0 rgba(173, 172, 172, 0.24),0 17px 20px 0 rgba(151, 151, 151, 0.19);
  margin:30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color:  #3a4bc7 ;
  color: white;
}

.senstive-img{
  height: 100px;
  width: 100px;
}
.sensitive-pr{
  font-size: small;
}
 
.results-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-item {
  margin-bottom: 10px;
}

/* Styles for File Type Counts Chart */
.chart-container {
  margin: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.no-result {
  margin: auto;
  font-size: xx-large;
  color: #ff0000; /* Changer la couleur du texte en rouge (par exemple) pour le mettre en évidence */
}

.detailed-result-button {
  background-color: #354dcb;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px; /* Ajouter un espace en haut */
  height: 50px;
  width: 200px;
  transition: background-color 0.3s, color 0.3s; /* Ajouter une transition pour une animation plus fluide */
}

.detailed-result-button:hover {
  background-color: #35363c;
}
.fileResult{
  text-align: center;
  padding: 20px; 
  background-color: #eae9e9;
 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.loader{
 
    display: block;
    margin: 0 auto;
    border-color: rgb(200, 0, 255);
    
}

.title-result{
  color:#eb8207 ;
  font-weight: bolder;
  font-size: 300;
  margin-bottom: 30px;
}

.file-link{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.icon-file{
  color: orange;
  padding-left: 20px;
}

.icon-file :hover{
  color: blue;
  padding-left: 20px;
}
.list-result-sensitive{
  list-style-type: none;
}
.lilong{
  width: 400px;
}