@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;1,500&family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  --bs-navbar-padding-y: 0;
}
body {
  font-family: 'Josefin Sans', sans-serif;
}


h4, .mailcomp {
  color: #002438;
  margin: 40px;
}

/* Couleurs */






.logo{
  width:140px;
  height:80px;
  padding: 0;
  margin: 0;
}

/* Autres styles */
.link {
  text-decoration: none;
  color: #dfe4eac0;
}

.btn-primary {
  background-color: #3f4549c9;
  border: #323537b0;
}

.img-fixed-height {
  height: 300px;
}
.img-card{
  height: 300px;
  width: 300px;
}
.title-card{
  text-align: center;
  font-weight: bold;
  color: black;
  }
  .card-title{
    padding-top: 10px;
  }
.card{
  background-color: white;
  
  color: black;
  
}
.card :hover{
  background-color: #b1c6d6;
}
.img-size{
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0;
  margin: 10px;;
 }

.intro{
 
  width: 100%;
  height: 400px;
 /* background-color: #002438;*/
  background-color:#354dcb; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.introtext {
  justify-content: center;
  flex: 1;
  padding: 100px;
}
.introtext h1,.introtext h4 {
 margin: 0;
}
.introtext h4 {
  color: black;
}
.introtext h1 {
 font-weight: bold;
 color: #bbbbf9;
}

.imgth {
  max-width: 100%;
  height: auto;
  padding: 80px;
}

.form-position{
  background-color:#354dcb;
  margin-left: 0;
}
.form-group{
  padding-top: 100px;
  padding-bottom: 20px;
  width: 400px;
  align-items: center;
}
.form-group, .btn-form{
  margin-left:400px;
}
.btn-form{
  color: #354dcb;
  border-radius: 10%;
  font-weight: 600;
}
.form-label{
  color: white;
}
.form-text{
  color:rgb(162, 160, 160);
}
.sizeicon{
  width: 15px;
}
/* EmailResult */
.emailResult{
  text-align: center;
  padding: 20px; 
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
}

/* Style du titre h4 */
.titleh4 {
  font-size: 20px;
  color: #333;
}


.mailcomp {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #002438; 
}


.shodanResult{
  text-align: center;
  padding: 20px; 
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
}
/* Style pour le titre des résultats Shodan */
.shodanResult .titleh4 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Style pour le conteneur de chaque élément de résultat Shodan */
.shodanResult .result {
  text-align: left;
}

/* Style pour chaque élément de résultat Shodan */
.shodanResult .result-item {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Style pour la table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style pour les en-têtes de colonne */
.table th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Style pour les cellules de données */
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Style pour les listes à puces dans les cellules */
.table ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style pour les éléments de liste à puce dans les cellules */
.table li {
  margin-bottom: 5px;
}
.domainheader{
  border-bottom: 1px solid black;
  color: #002438;
  font-weight: bold;
}
td{
  margin-right: 20 px;
}

.table1  tr:not(:last-child) {
  border-bottom: 1px solid #4e5156;
}
.table2 tr:not(:last-child) {
  border-bottom: 1px solid #4e5156;
}
.part1 , .part2{
  padding-top: 40px;
  display: flex;
}

.table1, .table2 {
  flex: 1;
  margin-right: 40px; 
}

.domainheader {
  margin-bottom: 10px; 
}

.table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0;
}



.col {
  padding: 8px;
}
