@import "../node_modules/bootswatch/dist/darkly/bootstrap.min.css" ;
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;1,500&family=Inter:wght@400;600;700&display=swap');
:root {
  /* COLORS */
  --BGCOLOR: #2c3e50;
  --BORDER-COLOR: #043d5b;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    min-height: 100vh;
    background-color: #D1D4D3 ;
    color: var(--COLOR);
   /* background-image: url("../public/img/img1.jpg");*/
    background-size: cover;
    background-position: top right;
    background-blend-mode: multiply;
  }
   

  @media screen and (max-width: 400px) {
    h1 {
      font-size: 2rem;
    }
  
    .dash-header__nav {
      gap: 0;
    }
  
    .icon-button {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    body {
      font-size: 1.25rem;
    }
  
    .table {
      font-size: 1.5rem;
    }
  
  
    .form__action-buttons {
      position: static;
    }
  }
  

  .label-domain{
    color: #21292a;
    font-family: "Nunito", sans-serif;
  }
  .input-domain{
    background-color: #02263a;
    border-color: var(--BORDER-COLOR);
    opacity: 0.5;
    width: 50%;
  }
  .form-position{
    margin-top: 60px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
  }
  .table-font{
    font-family: "Nunito", sans-serif;
  }

  .container{
    font-family: "Nunito", sans-serif;
   }
   .card{
    background-color:#002438;
   }
   .card-text{
    color: rgba(217, 213, 207, 0.934);
   }
   .card-title{
    font-size: 21px ;
    font-style: oblique;
    color: white;
   }
   .link{
    text-decoration: none;
    color: #dfe4eac0;
   }
   .btn-primary{
   background-color:#29556cc9;
   border:#0f2937b0;
   }

   .img-fixed-height {
    height: 300px;
  }
  .navcolor {
    background-color:  #002438;
  }
  .custom-navbar {
    height: 50px; 
}
/* Styles pour le tableau */
.table {
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.table th, .table td {
  padding: 8px;
  border: 1px solid #ccc;
}

/* Styles pour les cellules d'en-tête */
.table th {
  background-color: #002438;
  font-weight: bold;
  text-align: left;
}
/* Styles pour les lignes impaires (facultatif) */
.table tr:nth-child(odd) {
  background-color: #09293A;
}

/* Styles pour les listes imbriquées (Ports Ouverts) */
.table ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 20px;
}
