@import "../node_modules/bootswatch/dist/darkly/bootstrap.min.css" ;
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;1,500&family=Inter:wght@400;600;700&display=swap');
:root {
  /* COLORS */
  --BGCOLOR: #2c3e50;
  --BORDER-COLOR: #043d5b;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    min-height: 100vh;
    background-color: #f5f8f7 ;
    color: var(--COLOR);
   /* background-image: url("../public/img/img1.jpg");*/
    background-size: cover;
    background-position: top right;
    background-blend-mode: multiply;
  }
   

  @media screen and (max-width: 400px) {
    h1 {
      font-size: 2rem;
    }
  
    .dash-header__nav {
      gap: 0;
    }
  
    .icon-button {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    body {
      font-size: 1.25rem;
    }
  
    .table {
      font-size: 1.5rem;
    }
  
  
    .form__action-buttons {
      position: static;
    }
  }
  
